//
// Main color definitions
//
// When color definition differs for dark and light variant, it gets @if-ed depending on $variant

@import '_palette.scss';
@import '_default-colors.scss';


// global colors
$base_color: if($variant == 'light', $light_1, $dark_5);
$bg_color: transparentize(if($variant == 'light', $light_1, $dark_5), 0.2);
$fg_color: if($variant == 'light', $dark_4, $light_3);
$dash_highlight_color: transparentize($fg_color, 0.9);

// OSD elements
$osd_fg_color: $light_2;
$osd_bg_color: transparentize($dark_5, 0.3);

// system elements (e.g. the overview) that are always dark
$system_base_color: $dark_5; // always dark
$system_fg_color: $light_2;

// panel colors
$panel_bg_color: $osd_bg_color;
$panel_fg_color: $osd_fg_color;
// unused for good-old-shell
$panel_border_color: if($variant == 'light', transparentize($_base_color_dark, .9), transparent);

// card elements
$card_bg_color: if($variant == 'light', $darken($bg_color, 5%), lighten($bg_color, 2%));
$card_shadow_color: if($variant == 'light', transparentize($dark_5, .97), transparentize($light_1, 0.8));
$card_shadow_border_color: if($variant == 'light', transparentize($dark_5, .91), tarnsparentize($dark_3, .91));

//
// Derived Colors
//
// colors based on the global defines above

// borders
$borders_color: transparentize($dark_3, $border_opacity);
$outer_borders_color: transparentize($light_3, 0.93);

// osd colors
$osd_borders_color: transparentize($dark_3, $border_opacity);
$osd_outer_borders_color: transparentize($light_1, 0.84);

// notifications
$bubble_buttons_color: if($variant == 'light', darken($bg_color, 12%), darken($selected_bg_color, 20%));

// derived system colors
$system_bg_color: lighten($system_base_color, 5%);
$system_borders_color: transparentize($system_fg_color, .9);
$system_insensitive_fg_color: mix($system_bg_color, $system_fg_color, 37%);
$system_overlay_bg_color: mix($system_base_color, $system_fg_color, 90%); // for non-transparent items, e.g. dash

// insensitive state
$insensitive_fg_color: if($variant == 'light', mix($fg_color, $bg_color, 60%),  mix($fg_color, $bg_color, 75%));
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: mix($borders_color, $base_color, 60%);

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);

// derived menu hover color
$menu_hover_bg_color: transparentize($fg_color, 0.9);

// checked state
$checked_bg_color: if($variant=='light', darken($bg_color, 7%), lighten($bg_color, 7%));
$checked_fg_color: if($variant=='light', darken($fg_color, 7%), lighten($fg_color, 7%));

// hover state
$hover_bg_color: if($variant=='light', darken($bg_color,9%), lighten($bg_color, 10%));
$hover_fg_color: if($variant=='light', darken($fg_color,9%), lighten($fg_color, 10%));

// active state
$active_bg_color: if($variant=='light', darken($bg_color, 11%), lighten($bg_color, 12%));
$active_fg_color: if($variant=='light', darken($fg_color, 11%), lighten($fg_color, 12%));

// accent colors
$accent_borders_color: if($variant== 'light', st-darken(-st-accent-color, 15%), st-darken(-st-accent-color, 20%));
// selection colors
$selected_borders_color: if($variant== 'light', darken($selected_bg_color, 15%), darken($selected_bg_color, 20%));
