/* OVERVIEW */

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background: url("overview-wallpaper.png");
  background-size: cover;
  /*background-size: 1920px 1080px;*/
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
}

.overview-controls {
  padding-bottom: 32px;
}
