/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails {
  visible-width: 32px; //amount visible before hover
  spacing: $base_padding;
  padding: $base_padding;
  border: 2px solid $borders_color;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 transparentize($fg_color, 0.6);
  background-color: opacify($osd_bg_color, 0.1);

  .workspace-thumbnail {
    color: $osd_fg_color;
    background-color: transparentize($osd_bg_color, 0.2);
    border: 2px solid $osd_outer_borders_color;
    border-radius: $base_border_radius*0.5;

    @if $is_highcontrast {
      border-color: $hc_inset_color;
    }
  }

  // drag and drop indicator
  .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/workspace-placeholder.svg");
    background-size: contain;
    width: 18px;
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 3px solid $selected_bg_color;
  border-radius: $base_border_radius;
}
